@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.text-dark {
  color: #374151 !important;
}
.text-darkish {
  color: #556377 !important;
}
#bannerSlider {
  height: 100vh !important;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #bannerSlider {
    height: 60vh !important;
  }
}

.exploreTab {
  overflow: scroll;
  scrollbar-width: none; /* hide scrollbar on Firefox */
  -ms-overflow-style: none; /* hide scrollbar on Internet Explorer and Edge */
}

.exploreTab::-webkit-scrollbar {
  display: none; /* hide scrollbar on Chrome, Safari, and Opera */
}

#footer span:hover {
  cursor: pointer;
  color: black;
}
